<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}: {{ site.description }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>

    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
          </h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        {{ content }}
      </div>
    </section>
  </body>
</html>
